<div class="container-fluid">
  <div class="container demo-content">
    <div class="row">
      <div class="col-md-12">
        <h1>Here&#39;s a summary of the dev timeline for this website!</h1>
        <p class="lead">I may take some time to complete this website since I&#39;m trying to juggle this with a full-time job and other side-projects.</p>
          <div class= "row">
              <div class="col-lg-6">
                <h2>Front-end Dev Schedule</h2>
                <ol>
                <li>
                <input type="checkbox" name="Home" value="Home" checked="checked"> Home- 8h Aug<br>
                </li>
                <li>
                <li>
                <input type="checkbox" name="About me" value="About me"> About me - 11th Aug<br>
                </li>
                <li>
                <input type="checkbox" name="Education" value="Education"> Education - 12th Aug<br>
                </li> 
                <li>
                <input type="checkbox" name="Work" value="Work"> Work - 18th Aug<br>
                </li>
                <li>
                <input type="checkbox" name="Blog" value="Blog"> Blog - 25th Aug<br>
                </li>
                <li>
                <input type="checkbox" name="data-science" value="Data Science"> Data Science - 26th Aug<br>
                </li>               
                <li>
                <input type="checkbox" name="seo" value="SEO"> SEO Optimization - 2nd September<br>
                </li>              
                </ol>
                <blockquote>
                <p>Woah! Just started building my first personal website from scratch! Feeling good!</p>
                </blockquote>
              </div>
              <div class="col-lg-6">
                <h2>Back-end Dev Schedule</h3>
                <ul>
                  <li>We are good on the back-end as of 8th Aug.</li>
                </ul>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>